//AngularJS
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload-shim.min.js')
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/ng-file-upload/angular-file-upload.min.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/articles.js')
script(type='text/javascript', src='/js/services/menus.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/articles.js')
script(type='text/javascript', src='/js/controllers/menus.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/places.js')
script(type='text/javascript', src='/js/init.js')

// jQuery
script(type='text/javascript', src='/lib/jquery/jquery.min.js')

// Twitter Bootstrap
script(type='text/javascript', src='/lib/sass-bootstrap/js/alert.js')

//Google Maps
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBawgs2U-Nnvmi9lpsrAap_pfFacaxdCfM&sensor=true')

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
