head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName/*+' - '+title*/
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="menu, comida, geolocalizacion")
  meta(name="description", content="teleMenu - Un menú cerca de ti")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{title}')
  meta(property='og:description', content='teleMenu - Un menú cerca de ti')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='teleMenu')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='/styles/css/main.css')
  link(rel='stylesheet', href='/styles/common.css')

  link(rel='stylesheet', href='/styles/views/articles.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
