<div data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#!/">teleMenu</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a href="#!/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" data-ng-hide="global.authenticated">
            <li><a href="signup">Registrarse</a></li>
            <li><a href="signin">Entrar</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" data-ng-show="global.authenticated">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{global.user.name}} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#!/localizaciones">Mis localizaciones</a></li>
                    <li><a href="/signout">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
