<section data-ng-controller="MenusController" data-ng-init="initMenu(); getPlaces()">
    <h1>Crear nuevo menú:</h1>
    <form id="menuForm" name="menuForm" class="form-horizontal" role="form" autocomplete="on" data-ng-submit="create(menuForm.$valid)" novalidate>
        <fieldset>
            <div class="form-group" ng-class="{ 'has-error' : menuForm.place.$invalid && (!menuForm.place.$pristine || submitted ) }">
                <label for="location" class="col-sm-2 control-label"> Localización: </label>
                <div class="col-sm-10">
                    <span ng-show="places.length" ng-cloak>
                        <select class="form-control" name="place"  ng-model="menu.place" ng-options="place._id as place.name for place in places" required></select>
                        <p class="help-block" ng-show="menuForm.place.$invalid && ( !menuForm.place.$pristine || submitted )">Requerido.</p>
                    </span>

                    <div ng-hide="places.length" class="alert alert-danger text-center" ng-cloak>
                        No existen localizaciones.
                        <a href="#!/localizaciones/crear">
                            Cree una para continuar.
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="menu" class="col-sm-2 control-label">Menú:</label>
                <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading" ng-repeat-start="section in menu.sections">
                        <h3 class="panel-title">
                            {{section.name}}
                            <a ng-click="editSection(section)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a ng-click="removeSection(section)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </h3>
                    </div>

                    <div class="panel-body" ng-repeat-end>
                        <ul class="list-group">
                            <section ng-show="section.foods.length" ng-cloak>
                                <li class="list-group-item" ng-repeat="food in section.foods">
                                    {{food}}
                                    <a ng-click="editSection(section)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a ng-click="removeFood(section, food)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </li>
                            </section>
                           <li class="list-group-item">
                                <div class="form-group">
                                    <div class="input-group col-sm-12">
                                        <input type="text" ng-model="newFood" placeholder="Nuevo plato..." class="form-control" ui-keypress="{13:'addFood($event, section)'}">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="addFood($event, section)">Añadir</button>
                                         </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-heading">
                        <div class="form-group" ng-class="{ 'has-error' : menuForm.newSection.$invalid && ( !menuForm.newSection.$pristine || submitted ) }">
                            <div class="input-group col-sm-12">
                                <input type="text" id="new-section" name="newSection" ng-model="newSection" placeholder="Nueva sección..." class="form-control" ui-keypress="{13:'addSection($event)'}" ng-required="menu.sections.length == 0">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="addSection($event)">Añadir</button>
                                </span>
                            </div>
                            <p ng-show="menuForm.newSection.$invalid && ( !menuForm.newSection.$pristine || submitted )" class="col-sm-12 help-block">Al menos el menú debe contener una sección.</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : menuForm.price.$invalid && ( !menuForm.price.$pristine || submitted ) }">
                <label for="price" class="col-sm-2 control-label">Precio:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="menu.price" class="form-control" id="price" name="price" required>
                    <p ng-show="menuForm.price.$invalid && ( !menuForm.price.$pristine || submitted )" class="help-block">Requerido.</p>
                </div>
            </div>

            <div class="form-group">
                <label for="fromHours" class="col-sm-2 control-label">Horario:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">desde</span>
                        <div ng-model="menu.available[0].hours[0].from" ng-change="changed()">
                            <timepicker hour-step="1" minute-step="15" show-meridian="false"></timepicker>
                        </div>
                        <span class="input-group-addon">hasta</span>
                        <div ng-model="menu.available[0].hours[0].to" ng-change="changed()">
                            <timepicker hour-step="1" minute-step="15" show-meridian="false"></timepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : menuForm.days.$invalid && ( !menuForm.days.$pristine || submitted ) }">
                <label for="days" class="col-sm-2 control-label">Días:</label>
                <div class="col-sm-10">
                    <label ng-repeat="day in days" class="checkbox-inline">
                        <input name="days" type="checkbox" checklist-model="menu.available[0].days" checklist-value="day.id" ng-required="menu.available[0].days.length == 0"> {{day.text}}
                    </label>
                    <p ng-show="menuForm.days.$invalid && ( !menuForm.days.$pristine || submitted )" class="help-block">Al menos debe seleccionar un día a la semana.</p>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default pull-right" value="Crear" ng-disabled="!places.length" />
            </div>
        </div>
    </form>
</section>
