<section data-ng-controller="MenusController" data-ng-init="mine()">
    <h1>Mis menús</h1>
    <div class="list-group container-fluid">
        <div class="list-group-item row" data-ng-repeat="menu in menus">
            <div class="row">
                <div data-ng-href="#!/menus/{{menu._id}}" class="table-responsive col-md-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th data-ng-repeat="section in menu.sections">{{section.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-ng-repeat="section in menu.sections">
                                    <ul>
                                        <li data-ng-repeat="food in section.foods">
                                            {{ food }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <h2>{{ menu.price }} €</h2>
                    <a data-ng-href="#!/menus/{{menu._id}}">
                        <span class="glyphicon glyphicon-eye-open"> Ver</span>
                    </a>
                    <a data-ng-href="#!/menus/{{menu._id}}/editar">
                        <span class="glyphicon glyphicon-edit"> Editar</span>
                    </a>
                    <a ng-click="modalRemoveMenu('este menú', menu)">
                        <span class="glyphicon glyphicon-trash"> Borrar</span>
                    </a>
                </div>
            </div>
        </a>
    </div>
    <br/>
    <div class="text-right">
        <a href="#!/menus/crear">Crear nuevo menú</a>
    </div>
</section>
