extends ../layouts/default

block content
  .row
    .col-sm-offset-1.col-sm-5
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png")
    .col-sm-6
      if message && message.length > 0
        div.alert.alert-danger.alert-dismissable.fade.in
          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          = message

      block auth
