extends ../layouts/default

block content
  .row
    .col-sm-offset-1.col-sm-5
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png")
      a(href="/auth/github")
        img(src="/img/icons/github.png")
      a(href="/auth/twitter")
        img(src="/img/icons/twitter.png")
      a(href="/auth/google")
        img(src="/img/icons/google.png")
    .col-sm-6
      if (typeof errors !== 'undefined')
        .fade.in.alert.alert-block.alert-error.alert.alert-dismissable
          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          ul
            each error in errors
              li= error.type

      block auth
