<section data-ng-controller="PlacesController">
    <h1>Mi nueva localización</h1>
    <form class="form-horizontal" role="form" autocomplete="on">
        <fieldset>
            <legend>Información del lugar</legend>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="place.name" class="form-control" id="name" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Descripción:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" ng-model="place.description" row="3" id="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Teléfono:</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" id="phone" pattern="(+[0-9]{2}) [0-9]{9}" required ng-model="place.telephone">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-2 control-label">Dirección:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="address" required ng-model="place.address.str">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="codeAddress()">Buscar</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <gmap class="col-sm-12" style="min-height:150px" geocode-input="address"></gmap>
                </div>
            </div>
            <div class="form-group">
                <label for="photo" class="col-sm-2 control-label">Foto:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="photo" ng-model="place.photo">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Opciones de reserva</legend>
            <div class="form-group">
                <label for="capacity" class="col-sm-2 control-label">Capacidad:</label>
                <div class="col-sm-10">
                    <input type="number" min="1" value="1" class="form-control" id="capacity" ng-model="place.reservations_constrains.capacity" required>
                </div>
            </div>
            <div class="form-group">
                <label for="time_per_person" class="col-sm-2 control-label">Minutos por persona:</label>
                <div class="col-sm-10">
                    <input type="number" min="1" value="60" class="form-control" id="time_per_person" required ng-model="place.reservations_constrains.time_per_person">
                </div>
            </div>
            <div class="form-group">
                <label for="fromHours" class="col-sm-2 control-label">Horario:</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon">desde</span>
                        <input type="time" class="form-control" id="fromHours" required ng-model="place.reservations_constrains.opening_hours[0].from">
                        <span class="input-group-addon">hasta</span>
                        <input type="time" class="form-control" id="toHours" required ng-model="place.reservations_constrains.opening_hours[0].to">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="days" class="col-sm-2 control-label">Días:</label>
                <div class="col-sm-10">
                    <label for="monday" class="checkbox-inline"><input type="checkbox" class="class" id="monday" value="Mon">
                    Lunes</label>
                    <label for="tuesday" class="checkbox-inline"><input type="checkbox" class="class" id="tuesday" value="Tue">
                    Martes</label>
                    <label for="wednesday" class="checkbox-inline"><input type="checkbox" class="class" id="wednesday" value="Wed">
                    Miércoles</label>
                    <label for="thursday" class="checkbox-inline"><input type="checkbox" class="class" id="thursday" value="Thu">
                    Jueves</label>
                    <label for="friday" class="checkbox-inline"><input type="checkbox" class="class" id="friday" value="Fri">
                    Viernes</label>
                    <label for="saturday" class="checkbox-inline"><input type="checkbox" class="class" id="saturday" value="Sat">
                    Sábado</label>
                    <label for="sunday" class="checkbox-inline"><input type="checkbox" class="class" id="sunday" value="Sun">
                    Domingo</label>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Crear</button>
            </div>
        </div>
    </form>
</section>
