<section data-ng-controller="PlacesController" data-ng-init="mine()">
    <h1>Mis localizaciones</h1>
    <ul>
        <li data-ng-repeat="place in places">
            <h3>
                {{ place.name }}
                <a data-ng-href="#!/localizaciones/{{place._id}}/editar">
                    <span class="glyphicon glyphicon-edit"> Editar</span>
                </a>
                <a ng-click="modalRemove(place.name, place._id)">
                    <span class="glyphicon glyphicon-trash"> Borrar</span>
                </a>
            </h3>
        </li>
    </ul>
    <div class="text-right">
        <a href="#!/localizaciones/crear">Crear nueva localización</a>
    </div>
</section>
